@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

html,
body {
  font-family: "Manrope", sans-serif;
  background-image: linear-gradient(
    to right top,
    #d820ff,
    #b71cf7,
    #951aef,
    #6e1ae6,
    #3c1bdc
  );
}

header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 90px;
  padding: 0 40px;
}

header .logo {
  font-weight: 700;
}

header .menu ul {
  display: flex;
}

header .menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .menu li a {
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
  padding-right: 20px;
}

.menu-btn {
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 20px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
#home {
  height: calc(100vh- 90px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .info-section {
  width: 50%;
}

#home .info-section h1 {
  font-size: 5rem;
  font-weight: 900;
  color: white;
  margin-bottom: 2rem;
}

#home .info-section h4 {
  font-size: 1.1rem;
  font-weight: 300;
  color: white;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

#home .info-section .call-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.action-btn,
.action-ghost-btn {
  padding: 15px;
  border-radius: 20px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
}

.action-btn {
  background: white;
  color: #d820ff;
}

.action-ghost-btn {
  background: transparent;
  border: 2px solid white;
  color: white;
}
